.Home {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: var(--space-small);
}

.break {
  display: block;
}

.list {
  display: flex;
  justify-content: space-between;
}

._first {
  background: var(--secondary) !important;
}

._second {
  background: var(--primary-dark-2) !important;
}

._third {
  background: var(--primary-light-1) !important;
}

.icon {
  width: 96px;
  height: 96px;
  padding: var(--space-large) 0;
  fill: var(--glass-smoke);
  position: relative;
}

@media screen and (max-width: 61.25em) {

  .Home {
    padding-bottom: var(--space-small);
  }

  .icon {
    width: 72px;
    height: 72px;
  }
}

@media screen and (min-width: 100em) {
  .container {
    width: var(--width-full);
  }
}