:root {
  /* Brand Colors */
  --main: #3385d0;  
  --main-ligth: #afd7ee;  
  --main-dark: #1a4286;

  --even: #119b9e;
  --even-ligth: #efffe9;
  --even-dark: #033054;

  --odd: #eb271a;

  /* grayscale */
  --glass: transparent;
  --glass-fume: rgba(00, 10, 22, 0.52);

  --black: #000;
  --grey-1: #2c2c2c;
  --grey-2: #4b4b4b;
  --grey-3: #6a6a6a;
  --grey-4: #898989;
  --grey-5: #a8a8a8;
  --grey-6: #c6c6c6;
  --grey-7: #e5e5e5;
  --white: #fff;

  /* user colors */
  --info: #3a64f6;
  --info-light: #c7d1f3;
  --info-dark: #072075;

  --ok: #60ec66;
  --ok-light: #b7fbba;
  --ok-dark: #006c04;

  --error: #f3764f;
  --error-light: #ffd9cd;
  --error-dark: #922a09;

  --warn: #e7eb2e;
  --warn-light: #f9ffb6;
  --warn-dark: #acaf09;
}
