:root {
  /* Brand Colors */
  --primary-ligth-3: #d0fef4;
  --primary-ligth-2: #78dcf5;
  --primary-ligth-1: #418df0;
  --primary: #244fe6;
  --primary-dark-1: #3622b9;
  --primary-dark-2: #400694;
  --primary-dark-3: #420d5f;

  --secondary-light-3: #ffd676;
  --secondary-light-2: #ffa90e;
  --secondary-light-1: #fe7725;
  --secondary: #ff0101;
  --secondary-dark-1: #9f0228;
  --secondary-dark-2: #730049;
  --secondary-dark-3: #4f003f;

  /* grayscale */
  --glass: transparent;
  --glass-fume: rgba(00, 10, 22, 0.52);

  --black: #000;
  --grey-1: #2C1C32;
  --grey-2: #4B4451;
  --grey-3: #6A6670;
  --grey-4: #89828F;
  --grey-5: #A8A2AF;
  --grey-6: #C6C0CE;
  --grey-7: #E5E0ED;
  --white: #fff;

  /* user colors */
  --info: #3a64f6;
  --info-ligth: #c7d1f3;
  --info-dark: #072075;

  --ok: #60ec66;
  --ok-ligth: #b7fbba;
  --ok-dark: #006c04;

  --error: #f3764f;
  --error-ligth: #ffd9cd;
  --error-dark: #922a09;

  --warn: #e7eb2e;
  --warn-ligth: #f9ffb6;
  --warn-dark: #acaf09;
}
