:root {
  /* TRANSITIONS */
  --transition: 0.2s all ease;
  --transition-large: 0.4s all ease-in-out;
  --transition-over-box: 0.2s all cubic-bezier(0, -0.91, 0.88, 1.66);

  /* BOX-SHADOW */
  --shadow-base: 0px 0px 41px 17px var(--black-glass);

  /* GRADIENT */
  --gradient-black: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.54) 0%,
    transparent 100%
  );
}
