/* TITLE */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
      url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: var(--weight-regular);
  font-style: var(--weight-regular);
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
      url('../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: var(--weight-bold);
  font-style: var(--weight-bold);
}

/* GOTHIC */
@font-face {
  font-family: 'Augusta';
  src: url('../fonts/augusta-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/augusta-webfont.woff2') format('woff2'),
       url('../fonts/augusta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Augusta Shadow';
  src: url('../fonts/augusta-shadow-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/augusta-shadow-webfont.woff2') format('woff2'),
       url('../fonts/augusta-shadow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}