/* TITLE */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
      url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: var(--weight-regular);
  font-style: var(--weight-regular);
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
      url('../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: var(--weight-bold);
  font-style: var(--weight-bold);
}

/* GOTHIC */
@font-face {
  font-family: 'Fette Caslon Gotisch';
  src: url('../fonts/fette_caslon_gotisch-webfont.woff2') format('woff2'),
       url('../fonts/fette_caslon_gotisch-webfont.woff') format('woff');
  font-weight: var(--weight-regular);
  font-style: var(--weight-regular);

}
