@import './normalize.css';
@import './colors.css';
@import './effects.css';
@import './typography.css';
@import './measures.css';
@import './resets.css';
@import './font-face.css';
@import './z-index.css';

body,
#app {
  box-sizing: border-box;
  display: block;
}

a {
  color: var(--odd);
}
