a._reset {
  color: var(--text);
  text-decoration: none;
}

a._reset:hover {
  color: var(--text);
}

ul._reset {
  list-style: none;
  padding: 0;
}

button._reset {
  background: var(--glass);
  color: var(--text);
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}

button:hover._reset {
  border: 0;
  outline: 0;
}
