.App {
  --animation: App-logo-spin infinite 20s linear;
  --bg: #282c34;
  --brand-color: #61dafb;
  --color: white;
  --title: calc(10px + 2vmin);
  --origin: rotate(0deg);
  --dest: rotate(360deg);

  text-align: center;
}

.App-logo {
  animation: var(--animation);
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--title);
  color: var(--color);
}

.App-link {
  color: var(--brand-color);
}

@keyframes App-logo-spin {
  from {
    transform: var(--origin);
  }
  to {
    transform: var(--dest);
  }
}
