body {
  --font: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--code);
}
