.Banner {
  --height: 100vh;

  max-height: var(--height);
  height: var(--height);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.background {
  width: 100%;
  height: var(--height);
  position: absolute;
  left: 0;
  top: 0;
}

.img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: var(--height);
  z-index: var(--z-banner);
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: var(--z-gradient);
  width: 100%;
  background: var(--gradient-black);
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: var(--width);
  position: relative;
  padding-bottom: var(--space-extra);
}

.text {
  z-index: var(--z-content);
  display: flex;
  flex-direction: column;
  width: var(--width);
  text-align: right;
  align-items: flex-end;
  position: absolute;
  right: calc(var(--space-extra) * 3);
  bottom: calc(var(--space-extra) * 3);
}

.title {
  font-family: var(--font-title);
  letter-spacing: var(--letter-h3 );
  font-weight: var(--weight-medium);
  margin: 0;
  color: var(--black);
  opacity: 0.8;
  font-family: var(--font-gothic);
  font-size: calc(var(--h1) * 1.2);
}

.content {
  --width: 550px;

  font-family: var(--font-gothic);
  margin: 0;
  text-align: left;
  font-size: var(--h3);
  width: var(--width);
  box-sizing: border-box;
  padding: 20px;
  color: var(--primary-ligth-3);
  opacity: 0.6;
  text-align: right;
}

.frame {
  opacity: 0.4;
}

/* COLOR */
._white .title {
  color: var(--white);
}

@media screen and (max-width: 61.25em) {
  .Banner {
    --height: 680px;
    height: 100vh;
    overflow: hidden;
  }

  .content {
    --width: 290px;
    font-size: var(--body);
    text-align: right;
    padding: 0;
  }

  .container {
    height: 100vh;
    flex-direction: column;
    padding: var(--container-margin);
  }

  .text {
    position: relative;
    right: 30px;
    bottom: 100px;
  }

  .title {
    color: var(--white);
    font-size: var(--h1);
  }

  .content {
    font-size: var(--h3);
  }

  .frame {
    position: absolute;
    right: var(--container-margin);
    bottom: var(--container-margin);
    height: 160px;
  }
}

@media screen and (min-width: 100em) {
  .Banner {
    justify-content: center;
  }

  .container {
    width: var(--width-full);
  }
}
